<template>
    <div class="wrapper" v-if="row_data && col_defs">
        <AgGridVue
        :rowData="row_data"
        :columnDefs="col_defs"
        style="height: 600px"
        pagination="true"
        paginationAutoPageSize="true"
        class="ag-theme-alpine"
        id="result-grid"
        ></AgGridVue>
    </div>
</template>
  
<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import "ag-grid-community/styles/ag-grid.css"; 
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useQueryStore, type UnitMap } from '@/stores/query';

const query = useQueryStore();

onMounted(() => {
    studies.value = Object.keys(query.query_results);
    createColDefs();
    createRowData();
    document.getElementById("result-grid")?.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
})

 const createColDefs = () => {
    let new_column_defs = [];

    new_column_defs.push({headerName: 'Source ID', field: 'source_id', pinned: 'left'});
    new_column_defs.push({headerName: 'Study', field: 'study'});

    for (let metabolite of query.query_active_metabolites)
        new_column_defs.push({headerName: metabolite, field: metabolite,
        cellStyle: (params: any) => {
            return {
            'background':
            (query.query_filters?.map((f) => f.compound_id).includes(metabolite) ?
            (checkInBounds(params.value, metabolite) ? 'var(--color-other)' : 'var(--color-blood)') : 'white'),
            }
        },
    });

    if (query.query_phenotypes)
    for (let phenotype of Object.keys(query.query_phenotypes)) {
        let delete_p = false;
        for (let filter_rule of query.query_phenotype_filters) {
            if (phenotype == filter_rule.phenotype && !filter_rule.include) delete_p = true;
        } 
        if (!delete_p)
            new_column_defs.push({headerName: phenotype[0].toUpperCase() + phenotype.substring(1), field: 'PHENOTYPE_'+phenotype});
    }

    col_defs.value = new_column_defs;
}

const createRowData = () => {
    let new_row_data = [];
    type QueryKey = keyof typeof query.query_results;
    for (let study of studies.value) {
        let study_unit_map: UnitMap = query.query_units?.filter(m => study.split(",").includes(m.study_id))[0]!;
        for (let source_id of Object.keys(query.query_results[study as QueryKey])) {
            let rd_object = {...query.query_results[study as QueryKey][source_id]};
            for (const [metabolite, value] of Object.entries(rd_object)) {
                if (['source_id', 'study'].includes(metabolite) || metabolite.startsWith("PHENOTYPE_")) continue;
                if (rd_object[metabolite])
                    rd_object[metabolite] = rd_object[metabolite] + " " + (study_unit_map.unit_map[metabolite] ? study_unit_map.unit_map[metabolite] : "");
            }
            rd_object['source_id'] = source_id;
            rd_object['study'] = study;
            new_row_data.push(rd_object);
        }
    }
    row_data.value = new_row_data;
    query.query_row_data = row_data.value;
}

const checkInBounds = (value: number|string, metabolite: string) => {
    let result = false;
    if (typeof value === 'string') {
        value = parseFloat(value.split(" ")[0]);
    }
    let query_filter = query.query_filters?.filter((f) => f.compound_id == metabolite)[0];
    if (!query_filter) return false;
    if (query_filter.max) {
        if (value <= query_filter.max && value >= query_filter.min) result = true;
    }
    else {
        if (value >= query_filter.min) result = true;
    }
    if (query_filter.filter_type == "out") return !result; // Flip result for "check outside bounds" filter
    return result;
}


const row_data = ref<any[]>([]);
const col_defs = ref<any[]>([]);
const studies = ref<string[]>([]); 

watch(() => query.query_results, () => {
    studies.value = Object.keys(query.query_results);
    createColDefs();
    createRowData();
});
</script>

<style scoped>

.wrapper {
    max-width: 80%;
}

</style>
