<template>
    <div class="footer">
        <div class="links">
            <router-link to="/about">Imprint</router-link>
            <router-link to="/about#metaboserv_disclaimer">Disclaimer</router-link>
            <router-link to="/about">Data Privacy</router-link>
            <router-link to="/about#metaboserv_license">License</router-link>
        </div>
        <div style="color: var(--color-info)">
            MetaboSERV was supported by the German Federal Ministry of Education and Research (BMBF) within the framework of the e:Med research and funding concept (grant numbers: 01ZX1912A, 01ZX1912C, and 01ZX1912D). 
        </div>
    </div>
</template>
   
<style scoped>

.footer
{
   display: flex;
   background-color: var(--color-bg-alt); 
   height: 50px;
   width: 100%;
   position: sticky;
   bottom: 0;
   align-items: center;
   justify-content: center;
   font-size: 0.65rem;
   flex-direction: column;
}

.links {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

a, a:active {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-head);
}

</style>