<template>
  <div class="navbar">
    <div class="logo" @click="router.push('/')" style="cursor: pointer"><!--To be replaced with an actual logo-->
        <img src="@/assets/metaboserv_logo.svg" width="56" height="56"/>
        MetaboSERV
    </div>
    <div class="nav">
        <router-link to="/" :class="{'active-router-link': route.path == '/'}">Home</router-link>
        <router-link to="/studies" class="nav-item" :class="{'active-router-link': route.path == '/studies'}">Studies</router-link>
        <router-link to="/query" class="nav-item" :class="{'active-router-link': route.path == '/query'}">Query</router-link>
        <router-link to="/browse" class="nav-item" :class="{'active-router-link': route.path == '/browse'}">Browse</router-link>
        <router-link to="/account" v-if="auth.jwt && auth.username" class="nav-item" :class="{'active-router-link': route.path == '/account'}">Account</router-link>
        <router-link to="/help" :class="{'active-router-link': route.path == '/help'}">Guide</router-link>
        <router-link to="/about" class="nav-item" :class="{'active-router-link': route.path == '/about'}">About</router-link>
    </div>
    <div style="font-size: var(--fs-small); min-width: 8rem; text-align: right;" >
        <span v-if="auth.username && auth.username !== 'Auth-Token User'">
            Logged in as:<br>{{auth.username}}
        </span>
        <span v-if="auth.aut">
            Using auth. token
        </span>
    </div>
    <div class="buttons">
        <div class="nav-burger" @click="handleBurgerMenu()" id="burger-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <Icon icon="material-symbols:login" color="white" width="36" style="cursor: pointer;" class="nav-icon" @click="emit('login-clicked')"/>
    </div>
    </div>
    <div class="burger-navbar" v-if="burger_menu_open" id="burger-navbar">
        <div class="burger-items">
            <router-link to="/" :class="{'active-router-link': route.path == '/'}">Home</router-link>
            <router-link to="/studies" :class="{'active-router-link': route.path == '/studies'}">Studies</router-link>
            <router-link to="/query" :class="{'active-router-link': route.path == '/query'}">Query</router-link>
            <router-link to="/browse" :class="{'active-router-link': route.path == '/browse'}">Browse</router-link>
            <router-link to="/account" v-if="auth.jwt && auth.username" :class="{'active-router-link': route.path == '/account'}">Account</router-link>
            <router-link to="/help" :class="{'active-router-link': route.path == '/help'}">Home</router-link>
            <router-link to="/about" :class="{'active-router-link': route.path == '/about'}">About</router-link>
        </div>
    </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useRoute, useRouter, type RouteLocationNormalizedLoaded } from 'vue-router';
import { useAuthStore } from '@/stores/auth';
import { ref } from 'vue';

const route: RouteLocationNormalizedLoaded = useRoute();
const router = useRouter();
const auth = useAuthStore();

const emit = defineEmits<{
    'login-clicked': [],
}>();

const burger_menu_open = ref<boolean>(false);

const handleBurgerMenu = () => {
    burger_menu_open.value = !burger_menu_open.value
}

/**
 * Closes burger navbar if user clicks somewhere else.
 */
window.onclick = ((e: MouseEvent): void => {
    if (!burger_menu_open.value) {
        return;
    }
    if (e.target == document.getElementById("burger-icon"))
        return;
    if (burger_menu_open.value && e.target != document.getElementById("burger-navbar")) {
        burger_menu_open.value = false;
    }
});
</script>

<style scoped>

a:hover:not(.active-router-link) {
    color: var(--color-secondary);
}

.active-router-link {
    color: var(--color-secondary);
    border-bottom: 4px var(--color-secondary) solid; 
}

.navbar {
    max-width: 100%;
    background-color: var(--color-head);
    color: var(--color-bg);
    height: 5rem;
    position: fixed;
    inset: 0 0;
    display: grid;
    grid-template-columns: 1.5fr 6fr .5fr minmax(max-content, 0.5fr);
    justify-items: baseline;
    align-items: center;
    padding: 0 1rem 0 2rem;
    gap: 4rem;
    z-index: 40;
}

.logo {
    display: flex;
    align-items: center;
    font-size: var(--fs-title);
    font-family: 'Roboto Mono', monospace;
    gap: 16px;
}

.nav {
    width: 100%;
    display: flex;
    justify-items: center;
    font-size: var(--fs-large);
    margin-top: calc(var(--fs-title) - var(--fs-large));
    gap: 2rem;
}

.nav-burger {
    display: none;
    cursor: pointer;
}
.nav-burger > .bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    pointer-events: none;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 4px;
    align-content: center;
    justify-content: end;
}

.nav-icon:hover {
    color: var(--color-secondary) !important;
}

.burger-navbar {
    background-color: var(--color-head);
    max-width: 100%;
    position: fixed;
    inset: 5rem 0;
    color: #fff;
    max-height: 2rem;
    display: none;
    z-index: 40;
}

.burger-items {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

@media (max-width: 900px) {

.nav {
    justify-content: end;
}

.nav-item {
    display: none;
}

.nav-burger {
    display: inline-block;
}

.burger-navbar {
    display: block;
}

}

</style>
